.page
  aside.navbar.navbar-vertical.navbar-expand-sm.navbar-dark
    .container-fluid
      button.navbar-toggler(type='button')
        span.navbar-toggler-icon
      h1.navbar-brand.navbar-brand-autodark
        a(href='https://www.riniya.uk')
          img.navbar-brand-image(src='' width='110' height='32' alt='RINIYA')
      #sidebar-menu.collapse.navbar-collapse
        ul.navbar-nav.pt-lg-3
          li.nav-item
            a.nav-link(href='https://www.riniya.uk/dashboard')
              span.nav-link-title
                | Home
          li.nav-item
            a.nav-link(href='https://www.riniya.uk/dashboard/settings')
              span.nav-link-title
                | Settings
          li.nav-item
            a.nav-link(href='https://www.riniya.uk/dashboard/moderation')
              span.nav-link-title
                | Moderation
          li.nav-item
            a.nav-link(href='https://www.riniya.uk/dashboard/verification')
              span.nav-link-title
                | Verification
