doctype html
html(lang='en')
  head
    script(src='https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css')

    title RINIYA DASHBOARD
