section#commands.section.mt-6
    .has-text-centered
      p.title.has-text-white.has-text-weight-bold Commands

    table#commands-list.ui.inverted.table()
            thead
                tr
                    th Category
                    th Name
                    th Descriptions
                    th Arguments
