.single-feature
    .shape-left(data-aos='fade-up-right')
        svg(viewbox='0 0 200 200' xmlns='http://www.w3.org/2000/svg')
            path(fill='#9AAAE3' d='M54.2,-67.2C69.4,-63.5,80.4,-46.6,84.6,-28.7C88.7,-10.8,86,8.1,76.8,21.4C67.6,34.7,51.9,42.3,38.1,50.3C24.2,58.3,12.1,66.7,-2.8,70.5C-17.7,74.3,-35.3,73.6,-45.6,64.5C-55.9,55.3,-58.8,37.7,-63.3,21.2C-67.7,4.7,-73.7,-10.6,-71.8,-25.4C-69.8,-40.2,-59.9,-54.5,-46.6,-58.9C-33.3,-63.2,-16.7,-57.6,1.4,-59.6C19.5,-61.5,39,-71,54.2,-67.2Z' transform='translate(100 100)')
    .columns.mt-6
        .column(data-aos='fade-right')
            img.image.has-image-centered(src='assets/img/product_literation.svg' alt='feature1 img' style='width: 20rem;')
        .column
            h4.title
                | Feature
                span.has-text-primary #2
            p.subtitle.mt-3
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                | enim ad minim veniam, quis nostrud exercitation ullamco laboris
                | nisi ut aliquip ex ea commodo consequat.
