section#stats.section.mt-6
    .has-text-centered
        h1.title.lined Stats
        .line.line-center.blurple
    .columns.mt-6
        .column.has-text-centered
            p#servers.title.has-text-weight-bold.lined
            span.subtitle.has-text-weight-bold.blurple
                i.fa-solid.fa-server
                div#servers-load
                    i.loading.cog.icon
                span.subtitle.has-text-weight-bold.blurple
                    i.fa-solid.fa-terminal
                    |  Servers
        .column.has-text-centered
            p#commands.title.has-text-weight-bold.lined
            span.subtitle.has-text-weight-bold.blurple
                i.file.code.outline
                div#commands-load
                    i.loading.cog.icon
                i.fa-solid.fa-terminal
                |  Commands
        .column.has-text-centered
            p#users.title.has-text-weight-bold.lined
            span.subtitle.has-text-weight-bold.blurple
                div#users-load
                    i.loading.cog.icon
                i.fa-solid.fa-users
                |  Users

section.section.mt-6
    .columns
        .column.has-text-left
            p.title.has-text-weight-bold
                | Ready to try
                span.blurple  RINIYA
                | ?
            p.subtitle.mt-3.has-text-gray
                | Add RINIYA to your server
                | and setup your server now!
            a#getstarted.button.is-blurple.is-medium()
                strong
                    i.fa-solid.fa-book
                    |  Get Started
