footer.footer.bg-base
    .content.has-text-centered.has-text-white
        .mb-2
            a.has-text-white(href='https://discord.gg/tnu9B47Tqx' target='_blank')
                i.fa-brands.fa-discord
            a.has-text-white(href='https://github.com/RINIYAProject/Riniya' target='_blank')
                i.fa-brands.fa-github
        p
            span.has-text-weight-bold RINIYA
            br
            |           &copy;
            span#cp-year
            |  Copyright NebraskyTheWolf. All Rights
            |           Reserved.
        p.is-uppercase(style='letter-spacing: 0.1em;')
            | Website Designed By
            a.blurple.has-text-weight-bold(href='https://nebraskythewolf.work' target='_blank')  NebraskyTheWolf

    .content.has-text-centered.has-text-white
      span.payment.payment-provider-visa
      span.payment.payment-provider-paypal
      span.payment.payment-provider-stripe

