fieldset.form-fieldset
  form#login-form(method='POST', action='https://www.riniya.uk/admin/login/recovery')
    .mb-3
      label.form-label Email
      input.form-control.is-invalid.is-invalid-lite(type='email' name='recovery-email' id='recovery-email')

  div.hr-text OR
    a.btn.btn-square(href='https://www.riniya.uk/admin/login') Go back to login
