.steps
  a.step-item.active(id='onboard-step-one' data-bs-toggle='tooltip' title='Step 1 Select your server.')
    | Server
  a.step-item(id='onboard-step-two' data-bs-toggle='tooltip' title='Step 2 Select the language')
    | Language
  a.step-item(id='onboard-step-three' data-bs-toggle='tooltip' title='Step 3 setup the security')
    | Security
  span.step-item(id='onboard-step-four' data-bs-toggle='tooltip' title='Step 4 Accept our TOS & Privacy policy.')
    | TOS & Privacy consent
