.page-wrapper
  .page-header.d-print-none
    .container-xl
      .row.g-2.align-items-center
        .col
          h2.page-title=title
      a.nav-link.d-flex.lh-1.text-reset.p-0(href=url)
        span.avatar.avatar-sm(style=avatar)
        .d-none.d-xl-block.ps-2
          .mt-1.small.text-secondary=username
