.page
  header.navbar.navbar-expand-sm.navbar-light.d-print-none
    .container-xl
      h1.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pe-0.pe-md-3
        a(href='#')
          img.navbar-brand-image(src='...' width='110' height='32' alt='Brand')
      .navbar-nav.flex-row.order-md-last
        .nav-item
          a.nav-link.d-flex.lh-1.text-reset.p-0(href=url)
            span.avatar.avatar-sm(style=avatar)
            .d-none.d-xl-block.ps-2
              .mt-1.small.text-secondary=username
